        <div class="m-3 pb-4 filter ">
            <div class="card bg-white rounded shadow-sm" style="border:1px solid #222">
                <div class="card-body px-3 pt-3 pb-1 row">
                    <div class="col-7"><label class="float-left"></label></div>
                </div>
                <div class="card-body p-1 px-3 row">
                <div class="pt-2" style="font-size:19px; text-align:justify" >
                    <p>Ничего в этой жизни не дается легко. Чтобы достичь своих целей необходимо идти на определенные жертвы — тратить свои силы, время, ограничивать себя в чем-либо. Иногда бывают моменты, когда хочется все бросить и отказаться от мечты. В такие моменты вспомните, как много вы получите, если пойдете дальше и как много потеряете, если сдадитесь. Цена успеха, как правило, меньше, чем цена неудачи.</p>
                </div>
                </div>
            </div>
        </div>