@model HouseOfStories_Models.Quote

<h4>Добавление цитаты</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group ">
                <label asp-for="Text" class="control-label">Текст цитаты</label>
                <textarea asp-for="Text" class="form-control" ></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label">Выберите автора</label>
                <select asp-for="AuthorId" class ="form-control" asp-items="ViewBag.AuthorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Выберите категорию</label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <div class=" row">
                    <div class="col">
                        <input type="submit" value="Добавить цитату" class="btn btn-dark w-100" />
                    </div>
                    <div class="col">
                        <a asp-action="Index" class="btn btn-light w-100">Отмена</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


