@model HouseOfStories.Models.Author

<h4>Добавление автора</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">ФИО автора</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                              <div class=" row">
                    <div class="col">
                        <input type="submit" value="Добавить автора" class="btn btn-dark w-100" />
                    </div>
                    <div class="col">
                        <a asp-action="Index" class="btn btn-light w-100">Отмена</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


